# Ignore python byproducts
__pycache__/*
*.pyc
*.egg-info
TODO.md
build/

# Frontend
frontend/node_modules/
frontend/dist/

# Ignore private config
config_private.yaml
config/portfolios
config/aggregate_cache.db
config/device*identity.json
incoming_frame.json
